<% provide(:title, @game.id) %>
<h1>Game Number: <%= @game.id %> </h1>
<div class="row">
  <div class="span6">
    <h1> <%= User.find_by_id(@game.user1).name %></h1>
  </div>
  <div class="span6">
    <h1> <%= User.find_by_id(@game.user2).name %></h1>
  </div>
</div>

<% if setupCompleted == false %>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@game) do |f| %>
      <% if current_user.id == @game.user1 %>
        <%= f.label :word1 %>
        <%= f.text_field :word1 %>
        <%= f.submit "Submit your secret word", class: "btn btn-large btn-primary" %>
      <% elsif current_user.id == @game.user2 %>
        <%= f.label :word2 %>
        <%= f.text_field :word2 %>
        <%= f.submit "Submit your secret word", class: "btn btn-large btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
<% else %>
  <div class="row">
    <div class="span6">
      <ul>
        <%  if @game.p1GuessResults != nil %>
        <%   @game.p1GuessResults.each do |name, result| %>
           <li><%= "#{name}: #{result}" %> </li>
        <%  end %>
        <%  end %>
      </ul>
    </div>  
    <div class="span6">
      <ul>
         <%  if  @game.p2GuessResults != nil %>
        <%   @game.p2GuessResults.each do |name, result| %>
           <li><%= "#{name}: #{result}" %> </li>
        <%  end %>
        <%  end %>
      </ul>
    </div>  
  </div>
  <% if @gameDone == false %>
    <div class="row">
      <h1> Guess your opponents secret word! </h1>

      <div class="span6 offset3">
      <%= form_for(@game) do |f| %>
        <% if current_user.id == @game.user1 && !@p1Done%>
          <%= f.text_field :p1guesses %>
          <%= f.submit "Submit a guess", class: "btn btn-large btn-primary" %>
        <% elsif current_user.id == @game.user2 && !@p2Done%>
          <%= f.text_field :p2guesses %>
          <%= f.submit "Submit a guess", class: "btn btn-large btn-primary" %>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="row">
      <% if  current_user.id == @game.user1 && @p1Done || current_user.id == @game.user2 && @p2Done %>
      <h4 class="center"> Oh, looks like you're done! Congrats! Wait for your opponent to finish to see who won. </h4>
      <% end %>
    </div>
  <% else %>
    <div class="center">
      <% if @game.winner == -1 %>
      <h1> And it's a tie! </h1>
      <% elsif @game.winner != nil %>
      <h1> And the winner is: <%= User.find_by_id(@game.winner).name %> </h1>
      <% end %>
    </div>
  <% end %>
<% end %>